<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
</head>
<body>
  <form action="/a1/lamp1_on">
    <button>lamp1</button>
  </form>
  <form action="/a1/lamp1_off">
    <button>lamp1 off</button>
  </form> 
</div>
<div>
  <form action="/a1/lamp2_on">
    <button>lamp2 on</button>
  </form> 
  </div>
<div>
  <form action="/a1/lamp2_off">
    <button>lamp2 off</button>
  </form> 
</div>
<div>
  <form action="/a1/lamp3_on">
    <button>lamp3 on</button>
  </form> 
  </div>
<div>
  <form action="/a1/lamp3_off">
    <button>lamp3 off</button>
  </form> 
</div>
<div >
  <form action="/a1/lamp4_on">
    <button>lamp4 on</button>
  </form> 
  </div>
<div >
  <form action="/a1/lamp4_off">
    <button>lamp4 off</button>
  </form> 
</div>
<div >
  <form action="/a1/off_all">
    <button>off all lamps</button>
  </form> 
</div>
  
</body>
</html>